*{
    box-sizing: border-box;
    overflow: auto;
    background-color: rgb(159, 218, 245);
    
}
.header{

 width: 100%;
 

}
.nav-bar{
    position: fixed;
    
}
.web-tag{
    position: fixed;
    
    
}
.list-ul{
    display:flex;
    position: fixed;
    margin-top: 25px;
    margin-right: 2px;
    margin-left: 800px;
    gap: 2rem;
}
.menu{
    text-decoration: none;
    color: rgb(39, 31, 31);
}

.section01{
    margin: 0px 150px;
    margin-top: 100px;

}
.parentAA{
    display: flex;
}
.AAchild01{
    width: 60%;
}
.AAchild02{
    width: 40%;
}
.AAchild01a{
    font-size: 60px;
}
.img01{
    align-items: center;
    margin-left: 60px;
    margin-top: 80px;
    margin-right: auto;
    border-radius: 1rem;
}
.AAchild01b{
    font-size: 20px;
}
.AAchild01c{
    padding: 3px 5px;
    width: 150px;
    height: 50px;
    font-size: 25px;
    border-radius: 0.5rem;
}
.section02{
    margin: 0px 150px;
    margin-top: 150px;
}
.BBchild01{
    font-size: 32px;
    font-weight: bold;
    text-decoration: underline ;
    margin-bottom: 80px;
}
.BBchild02{
    font-size: 35px;
}
.BBchild03 ,  .BBchild04{
    font-size: 22px;
}
.section03{
    margin: 0px 150px;
    margin-top: 150px;
}
.CCchild01{
    font-size: 32px;
    font-weight: bold;
    text-decoration: underline ;
    margin-bottom: 80px;
}
.CCchild02{
font-size: 20px;
}
.parentDD{
    display: flex;
}
.DDchild01{
    width: 500px;
    height: 250px;
}
.img02{
    width: 500px;
    height: 200px;
    border-radius: 0.375rem;
}
.DDchild02{
    justify-content: center;
}
.DDchild01c{
    padding: 3px 5px;
    width: 150px;
    height: 50px;
    font-size: 25px;
    border-radius: 0.5rem;
    justify-content: center;
}